body {
  background-color: #000;
  color: #0F0;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.terminal {
  border: 1px solid #0F0;
  height: 400px;
  margin: 20px;
  overflow-y: scroll;
  padding: 10px;

  /* Modificaciones para el scroll */
  background-color: #000;
}

.terminal::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #0F0;
}

.terminal::-webkit-scrollbar-thumb:hover {
  background-color: #090;
}

.input-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-line span {
  color: #0F0;
  margin-right: 5px;
  font-weight: bold; /* Agregamos esta línea para enfatizar el símbolo */
}


.input-line input {
  background-color: transparent;
  border: none;
  color: #0F0;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  width: 100%;
}

pre {
  margin: 0;
}
